* {
    margin: 0
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

colours {
    border-color: chocolate;
    border-color: coral;
    border-color: darkorange;
    border-color: orange;
    border-color: orangered;
    border-color: peru;
}

.header {
    background-color: darkturquoise;
    color: white;
    margin: 0;
    padding: 30px;
    padding-bottom: 0;
}

nav {
    height: 40px;
    margin: 0;
    padding-top: 15px;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.titulo {
    background-color: darkturquoise;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: -50px;
    margin-bottom: 10px;
    text-align: center;
    width: 40%;
    align-self: center;
    /* margin-top: -20px;
    font-size: 30px; */
}

.dados {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

.img {
    padding-top: 50px;
    padding-bottom: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.konteiner {
    border: 3px solid;
    padding-top: 75px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    border-radius: 30px;
    border-color: paleturquoise;
    width: 900px;
    display: flex;
    flex-direction: column;
    margin: 30px auto 50px;
}

.texto {
    padding-left: 25%;
    padding-right: 25%;
}

/* atividades.html */

body{
    margin: 0;
    overflow: hidden;
  }
  
  .gridDiv{
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  
  .imageGrid{
    width: 100%;
    height: 300px;
    display: flex;
  }
  
  /* .imageGrid:hover{
    .gridElement{
      width: 16.25vw;
    }
  
    .gridElement:hover{
      width: 35vw;
    }
  } */
  
  .imageGrid:hover .gridElement {
    width: 16.25vw;
  }
  
  .imageGrid .gridElement:hover {
    width: 35vw;
  }

  .gridElement{
    background-color: green;
    height: 100vh;
    width: 20vw;
    transition: width 0.25s linear;
  }
  
  .gridElement:hover{
    width: 30vw;
  }
  
  .green{
    background-color: green;
  }
  
  .purple{
    background-color: purple;
  }
  
  .yellow{
    background-color: yellow;
  }
  
  .blue{
    background-color: blue;
  }
  
  .red{
    background-color: red;
  }

  .classTitle {
    text-align: center;
    padding-top: 20%;
  }

  .image {
    align-self: center;
    width: 100%;
  }