body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

colours {
  border-color: chocolate;
  border-color: coral;
  border-color: darkorange;
  border-color: orange;
  border-color: orangered;
  border-color: peru;

  border-color: #141414;
  border-color: goldenrod;
  /* box-shadow: 2px 2px 2px 2px black; */
}

.Section_top {
  width: 100%;
  height: 100%;
  /* height: 50%; */
  overflow: hidden;
  position: relative;
  justify-content: center;
  color: #fff;
  animation: change 10s infinite ease-in-out;
}

#wall {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  border-radius: 40px;
  border: 0px solid;
  padding: 50px;
  background-color: #191D2B;
  text-align: center;
}

.contentAtv {
  position: absolute;
  top: 20%;
  /* top: 33%; */
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  border-radius: 40px;
  border: 0px solid;
  padding: 50px;
  background-color: #191D2B;
  text-align: center;
}

#sobre {
  height: 100svh;
  /* background-color: white;  */
  border-radius: 15px 15px 0 0;
  padding-top: 30px;
}

.content h1 {
  color: #fff;
  font-size: 60px;
  letter-spacing: 10px;
}

.content h1 span{
  color: #fff;
  font-size: 50px;
  letter-spacing: 10px;
}

/* sobre */

.konteiner {
  border: 0px solid;
  padding-top: 75px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  border-radius: 40px 40px 0 0;
  background-color: #191D2B;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 30px auto 50px;
  height: fit-content !important;
}

.texto {
  padding: 0%;
  color: white;
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  text-align: center;
  align-self: center;
  font-weight: 500;
  font-size: 16px;
}

#pfp {
  width: 250px;
  border-radius: 20px;
  background-color: black;
  opacity: 0.33;
  transition: all 0.5s;
}

#pfp:hover {
  opacity: 0.75;
}

#picDiv {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 30px;
}

.socials {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  padding-top: 30px;
}

.logos {
  width: 50px;
  margin: 10px;
  align-self: center;
}

.dados {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.img {
  padding-top: 50px;
  padding-bottom: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

#footer {
  align-self: center;
  position: relative;
  bottom: 0px;
}

.spin {
  transition: all .3s ease-in-out;
}

.spin:hover {
  /* transform: rotate(360deg); */
  transform: scale(1.3);
}

.grow {
  transition: all .5s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

/* atividades */

.gridDiv {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.imageGrid {
  width: 100%;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}

.imageGrid .gridElement:hover {
  height: 190px;
  justify-content: center;
}

.gridElement {
  background-color: green;
  height: 150px;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  transition: width 0.25s linear;
  transition: all .5s;
  border-radius: 10px;
}

#tileOne {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/wallpapers/wallpaper1.jpg');
  background-size: 100%;
  background-position: center;
  object-fit: cover;
}

#tileTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/wallpapers/wallpaper2.jpg');
  background-size: 100%;
  background-position: center;
  object-fit: cover;
}

#tileThree {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/wallpapers/wallpaper3.jpg');
  background-size: 100%;
  background-position: center;
  object-fit: cover;
}

#tileFour {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/wallpapers/wallpaper4.jpg');
  background-size: 100%;
  background-position: center;
  object-fit: cover;
}

#tileFive {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/wallpapers/wallpaper5.jpg');
  background-size: 100%;
  background-position: center;
  object-fit: cover;
}

.classTitle {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
  color: white;
}

/* buttons */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li {
  --c: #3D3777;
  /* color: var(--c); */
  font-size: 16px;
  color: #7064da;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
  cursor: pointer;
}

nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

nav ul li:hover {
  color: white;
}

nav ul li:hover span {
  transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}


nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* titles */

a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
  cursor: default;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #625b9c;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
  color: white;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  /* stroke: #111; */
  stroke: white;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #3D3777;
}

.cta:hover svg {
  transform: rotate(90deg);
  transition: all 0.5s ease;
  /* stroke: #111; */
}

.cta:active {
  transform: scale(0.96);
  transform: rotate(90deg);
}

.title {
  align-self: center;
  margin: 25px 0;
}

#atividades {
  margin-bottom: 30px;
}

.classDiv {
  padding-top: 30px;
  margin-bottom: 100px;
}

/* back to top button */

#arrow {
  width: 20px;
  height: 20px;
  justify-content: center;
  align-self: items;
}

#fixedButton {
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 99;
  width: 30px;
  height: 30px;
  background-color: #3D3777;
  color: #fff;
  padding: 15px;
  border-radius: 100px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

/* go back button */

#gbA {
  align-items: center;
  justify-content: center;
  /* margin-top: -20px; */
}

#gbUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#gbLi {
  --c: #3D3777;
  /* color: var(--c); */
  font-size: 16px;
  color: #7064da;
  border: 0em solid var(--c);
  border-radius: 1.25em!important;
  /* border-radius: 500px; */
  width: 8em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
  cursor: pointer;
}

#gbSpan {
  position: relative;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

#gbLi:hover {
  color: white;
}

#gbLi:hover span {
  transform: translateY(0) scale(2);
}

#gbSpan:nth-child(1) {
  --n: 1;
}

#gbSpan:nth-child(2) {
  --n: 2;
}


#gbSpan:nth-child(3) {
  --n: 3;
}

#gbSpan:nth-child(4) {
  --n: 4;
}

/* atividades */

.classHeader{
  width: 80%;
  height: 300px;
  border-radius: 50px;
  margin: auto;
}

.classHeader:hover{
  background-position: 100% 0;
}

.container {
  border: 0px solid;
  padding: 75px 40px 40px 50px;
  border-radius: 40px;
  background-color: #191D2B;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 30px auto 50px;
  height: fit-content !important;
}

/* collapsibles */

.collapsible {
  margin: 0;
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 0px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.divcontent {
  margin-bottom: 10px;
  background-color: #40444d;
  width: calc(100% - 103px);
  padding: 0 30px;
  max-height: 0;
  overflow: hidden;
  align-self: center;
  transition: max-height 0.5s ease-in-out;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  
}

.activeLor{
  margin: 0 0 30px;
  /* margin-bottom: 30px; */
}

.atividade {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all .33s;
  border-radius: 5px;
  /* padding: 30px; */
}

.btnatividade{
  /* padding: 30px; */
  position: relative;
}

.btnatividade:hover .black{
  opacity: 0.9;
}

.btnatividade:hover .atividade{
  opacity: 0.5;
}

.black{
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 75px);
  height: calc(100% - 100px);
  opacity: 0;
  background: rgb(37, 37, 37);
  transition: all .33s;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  /* padding: 30px; */
  border-radius: 5px;
}

.atvText {
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 17px;
}